.container {
  min-width: 100vw;
  min-height: 100vh;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem;
}

.image {

}

.formulario h1 {
  margin: 25px;
  font-size: 3rem;
  letter-spacing: 0.2rem;
  color: var(--blue);
}

.formulario, form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--white);
  border-radius: 32px;
}

.formulario {
  margin: 1rem;
  box-shadow: 8px 4px 4px rgba(0, 0, 0, 0.2);
}

.formulario label{
  display: flex;
  flex-direction: column;
  margin: 10px;
}

@media screen and (max-width: 750px){
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .formulario, form {
    width: 90%;
  }

  .image {
    display: none;
  }
}