.container-home {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: var(--background);
}

.container-home .container-home-apresentation {
  min-height: 80vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  text-align: center;
  align-items: center;
  background: var(--white);
  border-radius: 32px;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 8px 4px 4px rgba(0, 0, 0, 0.2);

  animation: visible 3s;
}

.container-home-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--background);
  border-radius: 32px;
  padding: 2rem 0;
}

.container-home h2 {
  color: var(--blue);
  margin: 1rem;
  padding: 0.5rem;
  border-bottom: 3px solid var(--blue);
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: relative;
  animation: visible 3s;
}

.button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 8px;
  height: 3rem;
  width: 15rem;
  margin: 1rem;
  background: var(--blue);
  color: var(--white);
  

  transition: 0.5s;
}


.button:hover {
  filter: brightness(0.8);
}

@media screen and (max-width: 750px){
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .image {
    display: none;
  }
}

@keyframes visible {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}